body{
font-family: Arial;
background:#eef2f7;
}

.container{

width:420px;
margin:80px auto;
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 0 10px gray;

}

h1{
text-align:center;
color:#2c3e50;
}

label{
display:block;
margin-top:10px;
}

input{

width:100%;
padding:8px;
margin-top:5px;

}

button{

margin-top:15px;
width:100%;
padding:10px;
background:#3498db;
color:white;
border:none;
font-size:16px;
cursor:pointer;

}

button:hover{

background:#2980b9;

}

#result{

margin-top:20px;
background:#f4f6f8;
padding:10px;
border-radius:6px;
font-weight:bold;

}

table{

margin-top:20px;
width:100%;
border-collapse:collapse;

}

table, th, td{

border:1px solid #ccc;

}

th, td{

padding:8px;
text-align:center;

}

th{

background:#3498db;
color:white;

}